<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    {{- with .Site.Title }}<title>{{ . }}</title>{{ end }}
    {{- with .Description }}<meta name="description" content="{{ . }}"> {{ end }}
    {{- with .Keywords }}<meta name="keywords" content="{{ . }}"> {{ end }}
    {{- with .Author }}<meta name="author" content="{{ . }}"> {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">

    default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' unpkg.com giscus.app; style-src 'self' 'unsafe-inline' unpkg.com; img-src 'self' data: http: https:; connect-src 'self' unpkg.com giscus.app; frame-src 'self' giscus.app; base-uri 'self'; form-action 'self'; object-src 'none';

    <link crossorigin="anonymous" href="{{ .Site.BaseURL }}assets/css/stylesheet.css" rel="preload stylesheet" as="style">

    <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
    <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}apple-touch-icon.png">
    <link rel="mask-icon" href="{{ .Site.BaseURL }}safari-pinned-tab.svg">
    <meta name="theme-color" content="#2e2e33">
    <meta name="msapplication-TileColor" content="#2e2e33">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">

    <noscript>
        <style>
            #theme-toggle,
            .top-link {
                display: none;
            }
        </style>
    </noscript>

    {{- partial "head_extra.html" . }} {{- partial "seo_schema.html" . }} {{- partial "og_twitter.html" . }}
</head>

<body class=" dark" id="top">
    {{- partial "header.html" . }}

    <main class="main">
        {{- block "main" . }}
        {{- end }}
    </main>

    {{- partial "footer.html" . }}

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            once: true,
        });
    </script>
</body>

</html>