<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
	{{- partial "head.html" . }}
<meta http-equiv="Content-Security-Policy" content="
        default-src 'self';
        script-src 'self' 'unsafe-inline' 'unsafe-eval' unpkg.com giscus.app;
        style-src 'self' 'unsafe-inline' unpkg.com;
        img-src 'self' data: http: https:; /* Permite imagens de várias fontes */
        connect-src 'self' unpkg.com giscus.app; /* Permite conexão com Giscus */
        frame-src 'self' giscus.app; /* Permite o iframe do Giscus */
        base-uri 'self';
        form-action 'self';
        object-src 'none';
    ">

      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body class=" dark" id="top">
    {{- partial "header.html" . }}

    <main class="main">
        {{- block "main" . }}
        {{- end }}
    </main>

    {{- partial "footer.html" . }}

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            once: true,
        });
    </script>
</body>

</html>